# Core functionality - changes here should be rare!
/src/app.py                   @skdoosh
/src/backend/database.py      @skdoosh
/src/backend/routers/auth.py  @skdoosh

# The frontend will need refactored soon to be more object oriented.
/src/static/   @skdoosh
